<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <app-form-new-item
        (newItemEvent)="addNewCity($event)"
        [label]="'City'"
        [className]="'btn-info'"
      >
      </app-form-new-item>
    </div>
    <div class="col-md-8">
      <ul>
        <li
          *ngFor="let city of cities"
          (click)="onCityClicked(city)"
          [ngClass]="{ ' alert alert-info': city === selection }"
        >
          {{ city }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Está eligiendo: {{ selection }}</p>
        <app-button
          (click)="onClear()"
          [color]="'blue'"
          [label]="'clear your selection'"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<!-- PRIMER EJEMPLO PROBANDO -->
<!-- <h1>SELECCION DE CIUDAD</h1>
<ul >
  <li *ngFor="let city of cities"
    (click)="onCityClicked(city)"
    [ngClass]="{ seleccionada: city === selection }"
  >
    {{ city }}
  </li>
</ul>

<div *ngIf="selection">
  <p>Está eligiendo: {{ selection }}</p>
  <app-button
    (click)="onClear()"
    [color]="'blue'"
    [label]="'clear your selection'"
  ></app-button>
</div> -->
